<main class="container">
  <section>
    <h1>Index reUP</h1>

    <h3>Home Page</h3>
    <p>reUP is a platform resource for dispensories, growers, producers and users of the marjiuana industry. Bringing clean sharp solutions to the people.</p>

    {{#link-to 'about'}}About{{/link-to}}
  </section>
</main>